html {
	position: relative;
}

body {
	margin-bottom: 120px;
	margin-top: 30px;
}

.jumbotron {
    background-image: url('../img/header-bg-png.jpg');
	background-attachment: fixed;
}

.jumbotron img {
	width: 200px
	border:5px solid #333;
}


hr {
	width: 250px;
}